<nav class="navbar navbar-dark bg-primary mb-3">
    <span class="navbar-brand mx-auto">Filtrar Datos</span>
  </nav>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6">
        <label for="grade" class="form-label">Grado</label>
        <select id="grade" class="form-select" [(ngModel)]="selectedGrade" (change)="applyFilter()">
          <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="group" class="form-label">Grupo</label>
        <select id="group" class="form-select" [(ngModel)]="selectedGroup" (change)="applyFilter()">
          <option *ngFor="let group of groups" [value]="group">{{ group }}</option>
        </select>
      </div>
    </div>
  </div>