<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../assets/PrintStudent.jpg" alt="" width="150"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">PrintStudent</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link"  href="#" routerLink="/dashboard/requestudiante">Requerimiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Historial</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="docenteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Docente
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="docenteDropdown">
              <li><a class="dropdown-item" routerLink="/dashboard/singin">Nuevo Docente</a></li>
              <li><a class="dropdown-item" routerLink="/dashboard/consultar-docente">Consultar Docente</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Alumno</a>
          </li>
         
        </ul>
        
         <p></p>
          <button class="btn btn-danger" type="submit">LogOut</button>
       
      </div>
    </div>
  </div>
</nav>