/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

html, body {
    height: 100%;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(62, 60, 60, 0.363);
    height: 100%;

}
.body{
    max-width: 300px;
    width: 100%;
    text-align: center;
}
.bodysingin{
    max-width: 600px;
    width: 100%;
    text-align: center;
}
.logo{
    height: 50px;
    margin-bottom: 10px;
    
    
}