<div class="wrapper">
    <div class="body">
        <form action="">
            <img src="assets/PrintStudent.png" class="logo" alt="">
            <h1>Resgistrar Usuario</h1>

            <div class="form-floating mb-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Identificación</label>
              </div>

              <div class="form-floating mb-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Nombre</label>
              </div>

              <div class="form-floating mb-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Apellido</label>
              </div>    

            <div class="form-floating mb-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
            
              <div class="form-floating mb-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Contraseña</label>
              </div>  

              <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Repetir contraseña</label>
              </div>

              <div class="form-floating mb-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Rol</label>
              </div>  

              <div class="d-grid gap-2">
                <a class="btn btn-primary" routerLink="/login" type="button">Registrar</a>
              </div>
              
        </form>

    </div>

</div>

